@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Backgrounds */
  --background: #f2f2f2;
  --footer: #e8e8e8;
  --cards: #e8e8e8;
  --input: #fff;

  /* Texts */
  --paragraph: #111;
  --placeholder: #c5c5c5;

  /* Colors */
  --error: #B8001C;
  --primary: #9e7c2f;
  --gray: #BFBFBF;


  /* Events */
  --primary-hover: #b28a34;
  --primary-active: #7f5e21;
  --gray-hover: #d9d9d9;
  --gray-active: #A6A6A6;
}

::-webkit-scrollbar {
  display: none;
}

html.dark {
  --background: #111;
  --paragraph: #fff;
  --cards: #222;
  --footer: #0d0d0d;
  --input: #222;
  --gray: #333;
  --gray-hover: #444;
  --gray-active: #222;
}

* {
  transition: background 600ms ease-in-out;
  -webkit-transition: background 600ms ease-in-out;
  -moz-transition: background 600ms ease-in-out;
  -ms-transition: background 600ms ease-in-out;
  -o-transition: background 600ms ease-in-out;
}

body {
  background: var(--background);
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
