@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  transition: background 600ms ease-in-out;
  -webkit-transition: background 600ms ease-in-out;
  -moz-transition: background 600ms ease-in-out;
  -ms-transition: background 600ms ease-in-out;
  -o-transition: background 600ms ease-in-out;
}
