@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.hero {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-color: #292B2E;
  position: relative;
}
.hero__container {
  width: 90%;
  min-height: 80vh;
  max-height: 100%;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__home {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.hero__texts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/-1;
  text-align: center;
}
.hero__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  grid-column: 2/-1;
  grid-row: 1/-1;
}
.hero__title {
  font-size: 2.4rem;
}
.hero__subtitle {
  font-size: 1.6rem;
}
.hero__wave {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: transparent;
}
.hero__wave--svg {
  display: block;
}

@media (max-width: 425px) {
  .hero__home {
    grid-template-rows: repeat(2, max-content);
    gap: 20px;
  }
  .hero__texts {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .hero__info {
    grid-column: 1/-1;
    grid-row: 2/-1;
  }
}
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: #DAD9D4;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #AF5F30;
  border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #dd7f48;
}

.title {
  font-size: 2rem;
  color: #E7D7C6;
}
.title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: #AF5F30;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  z-index: 3;
}
.skills__data {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  border-radius: 10px;
  box-shadow: 2px 2px #E7D7C6;
  background-color: #AF5F30;
  width: 120px;
  height: 25px;
  cursor: default;
}

.nav {
  width: 100%;
  height: 60px;
}
.nav__content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__picture {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__img {
  width: 100%;
}
.nav__links {
  display: flex;
  gap: 10px;
}
.nav__link {
  text-decoration: none;
  color: #AF5F30;
  letter-spacing: 1px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  min-width: 90px;
  max-width: 110px;
  justify-content: center;
  border: 1px solid #AF5F30;
  position: relative;
  padding: 4px 0;
  overflow: hidden;
  border-radius: 10px;
}
.nav__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  background-color: #AF5F30;
  transition: clip-path 0.5s;
}
.nav__link:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: -1;
}
.nav__link:hover {
  color: #E7D7C6;
  z-index: 1;
}

.cv {
  width: 50px;
  height: 50px;
  display: block;
  background-color: #E7D7C6;
  border-radius: 61% 39% 66% 34%/36% 60% 40% 64%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgba(231, 215, 198, 0.4941176471);
  color: #AF5F30;
  text-decoration: none;
  font-size: 1rem;
  animation: show 1s infinite cubic-bezier(1, 1.51, 0, 1);
  z-index: 3;
}
@keyframes show {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 375px) {
  .cv {
    width: 40px;
    height: 40px;
  }
}
.services {
  width: 100%;
  height: 100%;
  background-color: #31363A;
  padding: 20px 0 40px;
}
.services__content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.services__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  width: 100%;
}

.service {
  width: 220px;
  height: 220px;
  background-color: #AF5F30;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  margin: 0 auto;
  overflow: hidden;
  cursor: default;
}
.service__picture {
  width: 40px;
  height: 40px;
}
.service__img {
  width: 100%;
  height: 100%;
}
.service__texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.service__title {
  font-weight: 400;
  font-size: 1.2rem;
}
.service__paragraph {
  font-weight: 300;
}

.portfolio {
  width: 100%;
  height: 100%;
  background-color: #31363A;
  padding: 20px 0 40px;
  position: relative;
  padding-bottom: 100px;
}
.portfolio__content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.portfolio__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  padding-bottom: 40px;
  z-index: 2;
}
.portfolio__wave {
  position: absolute;
  margin-top: 40px;
  width: 100%;
  bottom: 0;
  background-color: transparent;
  z-index: 1;
}
.portfolio__wave--svg {
  display: block;
}

.proyect {
  width: 280px;
  height: 220px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 14px;
  box-shadow: 4px 4px #AF5F30;
  border: 3px solid #AF5F30;
}
.proyect__picture {
  width: 100%;
  height: 100%;
}
.proyect__img {
  width: 100%;
  height: 100%;
  display: block;
}
.proyect__data {
  position: absolute;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3450980392) 0%, rgba(0, 0, 0, 0.3450980392) 100%);
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  opacity: 0;
}
.proyect:hover .proyect__data {
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  opacity: 1;
  transition: clip-path 1s cubic-bezier(1, 1.51, 0, 1);
}
.proyect:hover .proyect__img {
  filter: blur(2px);
  transform: scale(1.1);
}
.proyect__subtitle {
  font-size: 1.4rem;
  color: #DAD9D4;
  letter-spacing: 1.2px;
  text-shadow: 0 0 10px #000;
}
.proyect__links {
  display: flex;
  gap: 10px;
}
.proyect__link {
  display: flex;
  padding: 4px 0;
  width: 100px;
  border-radius: 10px;
  background-color: #AF5F30;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #DAD9D4;
  font-family: inherit;
  letter-spacing: 1px;
}

@media (max-width: 320px) {
  .proyect {
    width: 260px;
    height: 200px;
  }
}
.contact {
  width: 140px;
  height: 290px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 3;
}
.contact__cta {
  width: 50px;
  height: 50px;
  display: block;
  background-color: #E7D7C6;
  border-radius: 61% 39% 66% 34%/36% 60% 40% 64%;
  position: fixed;
  bottom: 10px;
  left: 10px;
  border: none;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px rgba(231, 215, 198, 0.4941176471);
  color: #AF5F30;
  text-decoration: none;
  font-size: 1rem;
  z-index: 3;
  cursor: pointer;
}
.contact__cta--tooltip {
  position: fixed;
  bottom: 25px;
  left: 75px;
  font-size: 0.8rem;
  background-color: #DAD9D4;
  color: #292B2E;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3215686275);
  opacity: 0;
}
.contact__cta:hover ~ .contact__cta--tooltip {
  opacity: 1;
}
.contact__view {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact__hidde {
  display: none;
}
.contact__social {
  width: 50px;
  height: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #E7D7C6;
  border-radius: 61% 39% 66% 34%/36% 60% 40% 64%;
  box-shadow: 0 0 8px rgba(231, 215, 198, 0.4941176471);
  text-align: center;
  opacity: 0;
}
.contact__icon {
  width: 25px;
}

.contact__social--1 {
  animation: view1 0.2s 0.2s cubic-bezier(1, 1.51, 0, 1) forwards;
}

@keyframes view1 {
  100% {
    opacity: 1;
  }
}
.contact__social--2 {
  animation: view2 0.4s 0.4s cubic-bezier(1, 1.51, 0, 1) forwards;
}

@keyframes view2 {
  100% {
    opacity: 1;
  }
}
.contact__social--3 {
  animation: view3 0.6s 0.6s cubic-bezier(1, 1.51, 0, 1) forwards;
}

@keyframes view3 {
  100% {
    opacity: 1;
  }
}
.contact__social--4 {
  animation: view4 0.8s 0.8s cubic-bezier(1, 1.51, 0, 1) forwards;
}

@keyframes view4 {
  100% {
    opacity: 1;
  }
}
@media (max-width: 375px) {
  .contact {
    height: 240px;
  }
  .contact__cta, .contact__social {
    width: 40px;
    height: 40px;
  }
}
.footer {
  width: 100%;
  min-height: 200px;
  max-height: 100%;
  background-color: #292B2E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.footer__title {
  font-size: 1.4rem;
  color: #E7D7C6;
  grid-column: 1/2;
}
.footer__menu {
  display: flex;
  gap: 10px;
  grid-column: 3/-1;
  justify-content: right;
}
.footer__link {
  font-size: 1.2rem;
  color: inherit;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 425px) {
  .footer__content {
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .footer__title {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
  }
  .footer__menu {
    grid-column: 1/-1;
    grid-row: 2/-1;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
