@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.hero {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-color: #292B2E;
  position: relative;
}
.hero__container {
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__home {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit);
}
.hero__texts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/-1;
}
.hero__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  grid-column: 2/-1;
  grid-row: 1/-1;
}
.hero__title {
  font-size: 2.4rem;
}
.hero__subtitle {
  font-size: 1.6rem;
}
.hero__wave {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: transparent;
}
.hero__wave--svg {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  color: #DAD9D4;
}

.title {
  font-size: 2rem;
  color: #E7D7C6;
}
.title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: #AF5F30;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.skills__data {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  border-radius: 10px;
  box-shadow: 2px 2px #E7D7C6;
  background-color: #AF5F30;
  width: 120px;
  height: 25px;
  cursor: default;
}

.nav {
  width: 100%;
  height: 60px;
}
.nav__content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__picture {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__img {
  width: 100%;
}
.nav__links {
  display: flex;
  gap: 10px;
}
.nav__link {
  text-decoration: none;
  color: #AF5F30;
  letter-spacing: 1px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  width: 110px;
  justify-content: center;
  border: 1px solid #AF5F30;
  position: relative;
  padding: 4px 0;
  overflow: hidden;
  border-radius: 10px;
}
.nav__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  background-color: #AF5F30;
  transition: clip-path 0.5s;
}
.nav__link:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: -1;
}
.nav__link:hover {
  color: #E7D7C6;
  z-index: 1;
}

.cv {
  width: 70px;
  height: 70px;
  display: block;
  background-color: #E7D7C6;
  border-radius: 61% 39% 66% 34%/36% 60% 40% 64%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px #E7D7C6;
  color: #AF5F30;
  text-decoration: none;
  font-size: 1.2rem;
  animation: show 1s infinite cubic-bezier(1, 1.51, 0, 1);
  z-index: 3;
}
@keyframes show {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.services {
  width: 100%;
  height: 100%;
  background-color: #31363A;
  padding: 20px 0 40px;
}
.services__content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.services__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  width: 100%;
}

.service {
  width: 220px;
  height: 220px;
  background-color: #AF5F30;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 4px;
  margin: 0 auto;
  overflow: hidden;
  cursor: default;
}
.service__picture {
  width: 40px;
  height: 40px;
}
.service__img {
  width: 100%;
  height: 100%;
}
.service__texts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/*# sourceMappingURL=style.css.map */
