@use "../variables/functions";

.contact {
  width: 140px;
  height: 290px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 3;

  &__cta {
    width: 50px;
    height: 50px;
    display: block;
    background-color: functions.color("cream");
    border-radius: 61% 39% 66% 34% / 36% 60% 40% 64%;
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: none;
    text-align: center;
    @include functions.layaout(grid, center, center);
    box-shadow: 0 0 8px functions.color('cream-alpha');
    color: functions.color("orange-cream");
    text-decoration: none;
    font-size: 1rem;
    z-index: 3;
    cursor: pointer;

    &--tooltip{
      position: fixed;
      bottom: 25px;
      left: 75px;
      font-size: .8rem;
      background-color: functions.color('gray');
      color: functions.color('dark');
      padding: 4px;
      border-radius: 4px;
      box-shadow: 0 0 6px #00000052;
      opacity: 0;
    }

    &:hover ~ &--tooltip{
      opacity: 1;
    }
  }


  &__view{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__hidde{
    display: none;
  }

  &__social{
    width: 50px;
    height: 50px;
    @include functions.layaout(grid, center, center);
    background-color: functions.color("cream");
    border-radius: 61% 39% 66% 34% / 36% 60% 40% 64%;
    box-shadow: 0 0 8px functions.color('cream-alpha');
    text-align: center;
    opacity: 0;
  }

  &__icon{
    width: 25px;
  }
}

@for $iterador from 1 through 4{
  $time: .2s * $iterador;
  .contact__social--#{$iterador}{
    animation: view#{$iterador} $time $time cubic-bezier(1,1.51,0,1) forwards;
  }
  @keyframes view#{$iterador} {
    100%{
      opacity: 1;
    }
  }
}

@media (max-width: 375px) {
  .contact{
    height: 240px;
    &__cta, &__social{
      width: 40px;
      height: 40px;
    }
  }
}