@use "../variables/functions";

.contact {
  width: 80px;
  height: 390px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 3;

  &__cta {
    width: 70px;
    height: 70px;
    display: block;
    background-color: functions.color("cream");
    border-radius: 61% 39% 66% 34% / 36% 60% 40% 64%;
    position: fixed;
    bottom: 10px;
    left: 10px;
    border: none;
    text-align: center;
    @include functions.layaout(grid, center, center);
    box-shadow: 0 0 8px #e7d7c6;
    color: functions.color("orange-cream");
    text-decoration: none;
    font-size: 1.2rem;
    z-index: 3;
    cursor: pointer;
  }

  &__view{
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 1;
  }

  &__hidde{
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
  }

  &__social{
    width: 70px;
    height: 70px;
    @include functions.layaout(grid, center, center);
    background-color: functions.color("cream");
    border-radius: 61% 39% 66% 34% / 36% 60% 40% 64%;
    box-shadow: 0 0 8px #e7d7c6;
    text-align: center;
  }

  &__icon{
    width: 30px;
  }
}
