@use '../variables/functions';

.footer{
  width: 100%;
  min-height: 200px;
  max-height: 100%;
  background-color: functions.color('dark');
  @include functions.layaout(flex, center, space-between);
  
  
  &__content{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    @include functions.layaout(flex, center, space-between);
  }

  &__title{
    font-size: 2rem;
    color: functions.color('cream');
  }

  &__menu{
    display: flex;
    gap: 10px;
  }

  &__link{
    font-size: 1.2rem;
    color: inherit;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
}