@use '../variables/functions';


body{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  color: functions.color('gray');

  &::-webkit-scrollbar{
    width: 10px;
  }

  &::-webkit-scrollbar-thumb{
    background-color: functions.color('orange-cream');
    border-radius: 50px;
  
    &:hover{
      background-color: functions.color('orange-cream2');
    }
  }
}
.title{
  font-size: 2rem;
  color: functions.color('cream');

  &::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: functions.color('orange-cream');
  }
}