@use '../variables/functions';

.hero{
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-color: functions.color('dark');
  position: relative;

  &__container{
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    @include functions.layaout(flex, center, center);
  }

  &__home{
    width: 100%;
    @include functions.layaout(grid, center, center);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit);
  }

  &__texts{
    @include functions.layaout(flex, center, center);
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  &__info{
    @include functions.layaout(flex, center, center);
    flex-direction: column;
    gap: 20px;
    grid-column: 2/-1;
    grid-row: 1/-1;
  }

  &__title{
    font-size: 2.4rem;
  }
  &__subtitle{
    font-size: 1.6rem;
  }

  &__wave{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: transparent;

    &--svg{
      display: block;
    }
  }
}